body {
    font-family: 'Baloo Bhai 2', cursive;
  background-image: url("pexels-victor-freitas-949131.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head{
  display: flex;
   justify-content: space-between;
    align-items: center;
    
}
@media screen and (max-width: 850px) {
  .head{
    flex-direction: column;
  }
  
}
  


.logo {
  
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  color: white;
  
  
 
}
.menu {
  display: flex;
  
  color: white;
  display: block;
  
  font-size: 20px;
  align-items: center;
}
.buttons {
  display: block;
  color: white;
  
  font-size: 20px;
  
}
.❤️ {
  display: inline-block;
}
.💙 {
  display: inline-block;
}
.💙 a {
  text-decoration: none;
  color: aliceblue;
  padding: 30px 30px 30px 30px;
  font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    
}
.💙 a:hover{
    text-decoration: underline;
    
    color: rgb(77, 67, 67);
    

}
.logo img{
    width: 75px;
    height: 60px;
    border-radius: 25px;
   
  }
  .logo{
    
    font-family: 'Baloo Bhai 2', cursive;
  }
  .buttons button{
    margin: 10px 10px 10px 10px;
    padding:0px 10px 0px 10px ; 
    background-color: #1f2227;
    color: white;
    border: solid 4px;
    border-radius: 10px;
    border-color: #212227;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
  }
  .buttons button:hover{
    background-color: black;
    border: solid 4px black;
    border-radius: 10px;
    text-decoration: underline;
    cursor: pointer;

  }
  .p{
   
   
   width: 100vw;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Baloo Bhai 2', cursive;
   
    
  }
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1em;
        min-width: 400px;
        margin: 0px auto;
        
        font-size: 14px;
        color: aliceblue;
        font-family: 'Baloo Bhai 2', cursive;
        flex-wrap: wrap;
       
      }
    
      
    .btn input{ 
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
        color: rgb(65, 65, 65);
        border-radius: 20px;
        font-size: large;
        
    }

    .btn input:hover{
        cursor: pointer;
        color: #858991;
    }
    .form input{
      display: inline-flex;
      min-width: 400px;
      width: 50vw;
      border: #858991 solid;
      border-radius: 10px;
      font-family: 'Baloo Bhai 2', cursive;
      font-size: large;
      background-color: aqua;
      
    }
    


